body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    padding-top: 80px;
}
header {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
header h1 a {
    text-decoration: none;
    color: #000;
}
.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}
.buttons a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.buttons a:hover {
    background-color: #444444;
}
.buttons span {
    color: #000000;
    font-weight: bold;
}
.container {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 20px auto;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    text-align: center;
    margin-top: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}