<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>
    <script src="https://kit.fontawesome.com/a38ef865ef.js" crossorigin="anonymous"></script>
    <style>
        div.container{
          margin: 0 auto;
          width: 960px;
        }

        .board-list{
            margin-top: 20px;
        }

        .board-item{
            width: 90%;
            margin: 10px auto;
            padding: 10px;
            background-color: #f9f9f9;
        }

        .writeButton{
            float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>'중간에서 만나' 게시판</h1>
        <input class="search-txt" id="searchKeyword" type="text" placeholder="검색어를 입력하세요.">
        <button onclick="searchReq()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="writeButton" onclick="writeReq()">
            <i class="fa-solid fa-pen"></i>
        </button>
        <hr>
        <div class="board-list" th:each="board: ${boardList}">
            <div class="board-item">
                <a th:href="@{/board/${board.id}}" th:text="${board.boardTitle}"></a>
            </div>
        </div>
    </div>

    <!-- 첫번째 페이지로 이동 -->
    <!-- /board/paging?page=1 -->
    <a th:href="@{/board/paging(page=1)}">First</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
    <a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>

    <!-- 페이지 번호 링크(현재 페이지는 숫자만)
            for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
    <!-- 현재페이지는 링크 없이 숫자만 -->
        <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
            <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
        <span th:unless="${page == boardList.number + 1}">
            <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
        </span>
    </span>

    <!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
    <a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>

</body>
<script th:inline="javascript">

    const searchReq = () => {
        console.log("검색 요청");
        const keyword = document.getElementById("searchKeyword").value;
        $.ajax({
            type: "GET",
            url: "/board/search?keyword=${keyword}",
            success: function (res) {
                console.log("요청 성공", res);
                const boardList = document.getElementById('boardList');
                boardList.innerHTML = '';
                res.forEach(board => {
                    const boardItem = document.createElement('div');
                    boardItem.className = 'board-item';
                    boardItem.innerHTML = `<a href="/board/${board.id}">${board.boardTitle}</a>`;
                    boardList.appendChild(boardItem);
                });
            },
            error: function (err) {
                console.log("요청 실패", err);
            }
        });
    }

    const saveReq = () => {
        location.href = "/board/save";
    }
</script>
</html>